@import "common.css";
/* 
*{
    margin: 0;
    padding:0;

}

:root{
    --font-family: 'Arial, sans-serif';
    --bg-color: #00cdae;
    --black_color: #161a23;

}
body{
background-color: var(--black_color);
} */
#wrapper{
    margin: 8vh auto;
    width: 80%;
}
hr{
    margin: 10px 0;
    height: 3px;
    background-color: #fff;

}
/* 
h1{
    text-align: center;
    color: #fff;
    margin: 5px auto; 

} */
#welcome_admin{
    margin-bottom: 75px;
}
#wrapper#connexion {
    margin: 15px auto;

}
#connexion input{
    display: block;
    margin: 40px auto ;
    padding: 15px;
    width: 70%;
    border: 1px solid var(--bg-color);
    background-color: var(--black-color);}


#connexion input[type="submit"]:focus, #connexion input[type="submit"]:hover{
    background-color: var(--black_color);
    color: #fff;
    border: 2px  solid var(--bg-color);
 
}

h3,h2{
    color: #fff;
    text-align: center;
}
#Users{
    margin:  auto;
}
.admin_disconnect, .admin_index{
    display: flex;
    justify-content: flex-end;
}

select:hover{
   cursor: pointer; 
}
.theUser{

    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 70%;
    margin: 15px auto;
    padding: 10px;
}
.theUser a:first-child{
    width: 95%;
}
.theUser:hover *{
    background-color: var(--bg-color);
    color: #fff;
    padding: 10px;
}


/* show */
span{
    display: block;
    border: 1px dashed var(--bg-color);
    margin: 8vh auto;
    padding: 3%; 
    width: 70%;
    color: #fff;
}