:root {
    --black_color: #161a23;
    --clear_color: #fff;
    --cta_color: #00cdae;
}
@import 'common.css';
header{
top:0 ;
}

#wrapper_contact {
    width: 70%;
    margin: auto;
    position: relative;
    top: 150px;
    height: 90vh;
}

input {
    display: block;
    width: 80%;
}

textarea {
    width: 80%;
    display: block;
}

textarea,
input {
    margin: auto;
    margin: 25px auto;
    border-radius: 15px;
    box-shadow: none;
    background: none;
    padding: 5px;
    border: 1px solid var(--cta_color);
    outline: none;
}

form>textarea:focus,
input:focus {
    border: 4px solid #fff;
    background-color: var(--cta_color);
    color: #fff;
}

::placeholder {
    text-align: center;
}

::placeholder,
input,
textarea {
    color: var(--cta_color);
}

form {
    height: 100%;
}


input[type="submit"] {
    text-transform: uppercase;
    border-radius: 15px;
    background-color: var(--cta_color);
    border-style: none;
    width: 25%;
    height: 60px;
    color: #fff;
}


@media (min-width: 48em) {

    input[type="submit"] {
        text-transform: uppercase;
        border-radius: 15px;
        background-color: var(--cta_color);
        border-style: none;
        width: 70%;
        height: 60px;
        color: #fff;
    }
}
