@import "common.css";
@import "header.css";
@import "contact.css";

#defaultCanvas0{
    display: none;
    z-index: -999;
    height: 711px; position: absolute; left: 0px; top: 837.6px;width:   2000;
}




#logo {
    width: 70px;
    margin: 3%;
    margin-top: 6%;

}

#logo img {
width: 100%;
height: 100%;
}

input#menu-btn {
    display: none;
}

/* menu */






/* fin header */

footer {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
#cartman_memento{
    margin: 15px auto 30px;
}


#content>#first_screen {
    display: flex;
    height: 100vh;
    margin: auto;
}
/* SECTION 1 */
section#first_screen .left,
section#first_screen .right {
    position: relative;
    top: 25%;
}

section#first_screen .left {
    margin: 95px;
    width: 45%;
}
#first_screen p {
    margin: auto auto 35px;
}
img#sad_cartman {
    border-radius: 105px;
    transform: rotate(7deg);
    transition: 4s;
    width: 100%;

}

img#sad_cartman:hover {
    transform: rotate(0deg);
    /*optionnel*/
}
/* FIN SECTION 1 */

/* SECTION 2 */
section.slideshow {
    margin: 0 0 5% 0;
}

section.slideshow .character {
    animation: crescendo .7s alternate infinite ease-in;

}

@keyframes crescendo {
    0% {
        transform: scale(.8);
    }

    100% {
        transform: scale(1);
    }
}

img.character {
    margin: 15px auto;
}

.infos {
    margin: 5% auto 10% auto;
    width: 320px;
}

p.infos {
    text-align: justify;
    text-justify: inter-cluster;
}
/* SECTION 3 */
#random_extract_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    
}
#random_extract_container  .left{
    margin: 5% ;

}
#random_extract_container  .right{
    margin: 5% ;
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    


}

#random_extract_container  .right .cta{
    position: relative; 
    top:6vh;
}




/* SECTION 4 */





/* global  */

/* css specifique */

li a:hover{ 
    text-decoration: underline #fff ;
    }

a.cta {
    margin: 15px 0;
}

::selection {
    background: var(--cta_color);
    /* WebKit/Blink Browsers */
    color: var(--clear_color);
}

::-moz-selection {
    background: var(--cta_color);
    /* Gecko Browsers */
    color: var(--clear_color);
}


.slick-dots li.slick-active button:before {
    color: var(--cta_color);
}

/* .slick-prev, .slick-next{
    width: 40px !important;
    height: 40px !important;
} */

/* COPYRIGHT */
#wrapper_copyright {
    margin: auto;
    width: 80%;
}

#wrapper_copyright span {
    color: var(--cta_color);
    font-weight: 800;
}

#wrapper_copyright h2 {
    text-align: justify;
    font-size: 24px;
    margin: 5px 0;
}

.infos_legales {
    margin: 15px 0;
    padding: 15px;
    border: 2px dashed white;
    width: fit-content;
}






/* COPYRIGHT */
/* 
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES  
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES 
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES 
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES
MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES
*
 */


 /* destop only
 enlever le menu burger
 */
@media (min-width: 48.1em) {
    header li {
      float: left;
    }
    header li a {
      padding: 20px 30px;
    }
    header .menu_burger {
      clear: none;
      float: right;
      max-height: none;
    }
    header .menu-icon {
      display: none;
    }
}



@media(min-width: 500px) and (max-width: 768px) {
    canvas#defaultCanvas0{
        display: none;
    }
    body {
        background-color: var(--black_color);
        width: 100%;
        box-sizing: border-box;
    }
    header{
        top: 0;
    }

    .title {
        margin: 150px auto 50px;
    }

    
    #content>#first_screen {
        display: block;
        height: 100%;
        margin: auto;
    }
    section#first_screen .left
    {
        position: relative;
        /* top: 20%; */
        height: fit-content;
        width: 75%;
        margin-bottom: 20vh;
        margin: 0px auto;        
    }
    section#first_screen .left a{
 width: 65%;

    }
    section#first_screen .right{
        width: 60%;
        height: fit-content;
        position: relative;
        top: 30px!important;
        display: block;
        margin: 50px auto;    
    }
 
    section#first_screen div.right img#sad_cartman {
        transform: rotate(7deg);
        width: 100%;
        border-radius: 105px;
              
    }
    section#first_screen div.right img#sad_cartman:hover{
        transform: rotate(0deg);
    }

    section#random_extract{
        margin: auto;
    }
    #random_extract_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    #random_extract_container .right {
        width: 75%;
        margin: 20px auto;
    }
    #video-container video{
        width: 100%;
    }
    #random_extract .left{
        margin: auto;
        width: 100%;
    }

   iframe{
    width: 100%;
    margin: auto;
    display: block;
   }
}

/* media query tablette */
@media(min-width: 768px) and (max-width: 1388px) {

    body {
        background-color: var(--black_color);
        width: 100%;
        box-sizing: border-box;
    }
    header{top: 0;}
    .title {
        width: 80vw;
        margin: auto;
    }
    
    label.menu-icon {
        position: relative;
        left: 45%;
    }
    
    /* #content>#first_screen {
        display: block;
        height: 130vh;
        margin: auto;
        justify-content: space-between;
    }
    
    section#first_screen .left,
    section#first_screen .right {
        position: relative;
        top: 15%;
        height: fit-content;
    }
 
    section#first_screen div.right img#sad_cartman {
        border-radius: 105px;
        transform: rotate(7deg);
        width: 300px;
        position: relative;
        top: 210px;
        right: 85px;
        
    } */
    #content>#first_screen {
        display: block;
        height: 100%;
        margin: auto;
        justify-content: space-between;
    }
    section#first_screen .left
    {
        position: relative;
        top: 10%;
        height: fit-content;
        width: 75%;
        margin-bottom: 20vh;
       
        
    }
    section#first_screen .left a{
        position: relative;
        left: 25%;

    }
    section#first_screen .right{
   width: 40%;
   height: fit-content;
   position: relative;
   top: 0 !important;
   display: block;
    margin: auto;
    }
 
    section#first_screen div.right img#sad_cartman {
        border-radius: 105px;
        transform: rotate(7deg);
        width: 100%;
        border-radius: 105px;
              
    }
    section#first_screen div.right img#sad_cartman:hover{
        transform: rotate(0deg);
    }



    #random_extract_container {
        display: block;
       
        width: 100%;
        margin: auto;
    }
    #video-container video{
        width: 100%;
    }
    #random_extract .left{
        margin: 0;
    }

}


  